# Byte-compiled / optimized / DLL files

__pycache__/
*/__pycache__/
*/*/__pycache__/

# Virtualenvs

venv/
.venv/
env/

# terraform
.terraform
*/.terraform
*/*/.terraform
*/*/*/.terraform
*/*/*/.terraform
*.tfstate

# Project files

.gitlab-ci.yml
.gitignore
.python-version
apidoc.yaml
LICENSE
README.md
