<DOCTYPE <!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <style type="text/css">
            h1 {
                color: red;
            }
        </style>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">"
    </head>
    <body>
        <h1>My First Heading</h1>
        <h2>My Second Heading</h2>
        <p>My first paragraph.</p>
        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" width="104" height="142"><br></img>
        <a href="https://www.w3schools.com">Visit W3Schools.com!</a>
        <script src="" async defer></script>
        <script>
            var myHeading = document.querySelector('h1');
            myHeading.textContent = 'Hello world!';
        </script>
    </body>
</html>